/* Gallery of projects */
.projects {
  padding: 40px;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}


.placeholder {
  flex: 1 0 33%;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

