.about {
  justify-content: center;
  align-items: center;
  padding-left: 45px;
  float: left;
}


@media screen and (min-width: 1200px) {
  .icon {
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  p {
    margin-top: 25px;
  }
  i {
    margin-bottom: 20px;
  }
}