.single {
  overflow: hidden;
}

.single img {
  max-width: 100%;
  max-height: 100vh;
}

.back {
  /* position: fixed; */
  font-size: 50px;
  z-index: 1;
}

.awesIcon {
  font-size: 50px;
  top: 50px;
  right: 50px;
  padding-right: 40px
}

.projectTitle {
  margin-bottom: 10px;
  padding-left: 20px;
}

.descText{
padding: 20px 25px 20px 20px;
}

@media screen and (max-width: 767px) {
  .projectTitle {
    margin-top: 40px;
  }
  .projectDesc {
    margin: 0 30px;
    padding: 20px 40px 20px 20px;
  }
}