.welcome {
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-container {
  width: 100vw;
  height: 100vh;
}

.box {
  background: white;
  border-radius: 70px;
  width: 200px;
  height: 200px;
  position: absolute;
  top: calc(50% - 200px / 2);
  left: calc(50% - 200px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

#dragMe {
  padding-right:8px;
  width: 200px;
  height: 200px;
  position: absolute;
  top: calc(50% - 200px / 2);
  left: calc(50% - 200px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgShadow{
  border-radius: 50px;
  background: #f5fbff;
  box-shadow:  -23px 23px 25px #878a8c,
               23px -23px 25px #ffffff;
}