.welcome {
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-container {
  width: 100vw;
  height: 100vh;
}

.box {
  background: white;
  border-radius: 30px;
  width: 200px;
  height: 200px;
  position: absolute;
  top: calc(50% - 200px / 2);
  left: calc(50% - 200px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.words {
  color: var;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  display: flex;
  margin-top: 120px;
  justify-content: center;
  align-items: center;
}

#about {
 padding-right: 100px;
}
#projects {
 padding-left: 100px;
}
