:root {
  --onyx: rgba(54, 57, 59, 1);
  --lavender: rgba(249, 185, 242, 1);
  --purple: rgba(188, 160, 188, 1);
  --gray: rgba(191, 182, 187, 1);
  --blue: rgba(131, 160, 160, 1);
}

* {
  font-family: 'Space Mono', monospace;
}